<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <p>Browse the available service project categories.</p>

    <ul class="category-list">
        <% categories.forEach(category => { %>
            <li><%= category.name %></li>
        <% }) %>
    </ul>
</main>

<%- include('partials/footer') %>